* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: rgb(255, 140, 0);
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding-bottom: 12vh;
    text-align: center;
    align-items: top;
}

h1 {
    margin-top: 0%;
    font-size: 150px;
    font-weight: 900;
    background-color: rgb(244, 163, 86);
    height: 70vh;
    /*for cool gradient animation*/
    /* OPTION 1 --------------------
    background: linear-gradient(
        90deg,
    #ff007f,
    #7f00ff,
    #00f0ff,
    #ff007f
    );
    background-size: 300% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    animation: flowBackground 5s linear infinite;
*/

    /*OPTION 2 GIF----------------------*/
    background-image: url('gifs/roller_skate1.gif');
    background-size: 90px;
    background-position: center;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    -webkit-text-stroke: 1.5px #000000;

}

/* FOR OPTION 1----------------------*/
/*for "Funkys skate center" text animation, helper function*/
@keyframes flowBackground {
    0% {
        background-position: 300% center;
    }

    100% {
        background-position: 0% center;
    }
}

/*Date under header*/
.date, .time {
    font-size: 20px;
    font-weight:100;
    color: black;
}

/*NAV BAR AT THE BOTTOM*/
nav {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background-color: rgb(168, 168, 168);
    width: 100vw;
    flex: 1;
    height: 10vh;
}

.nav-links, .nav-time, .spacer {
    flex: 1;
    display: flex;
    align-items: center;
}

.out-btn, .in-btn {
    cursor: pointer;
    font-weight: bold;
    padding: 20px 50px;
    border-radius: 10%;
    color: white;
    background-color: black;
    font-size: 19px;
    margin-left: 0%;
}

.spacer {
    justify-content: flex-end;   /* Pushes Clock Out pinned to the right edge */
}

.nav-time {
    justify-content: center;
}
